<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NANO_Selas_Temperature_Data.My.MySettings.SelasTempConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SelasTemp.accdb"
            providerName="System.Data.OleDb" />
        <add name="NANO_Selas_Temperature_Data.My.MySettings.SelasTempConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\sample database\SelasTemp.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="NANO_Selas_Temperature_Data.My.MySettings.Selas_dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\Selas_db.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="NANO_Selas_Temperature_Data.My.MySettings.Selas_dbConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF  Database\Selas_db.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>